.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #49422E;
  }
.home-links a {
        text-decoration: none;
        color: rgb(176, 176, 176);
        display: flex;
        align-items: center;
        justify-content: center;
        
}
.home-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px, 2px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    background-color:  transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: transparent;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 10 0 transparent;
}
.button:hover {
    box-shadow: inset 130px 0 0 0 #49422E;
    cursor: pointer;
    color: white;
}
.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-image: url(https://content.r9cdn.net/rimg/dimg/65/2f/21c500c9-city-31189-168816baed7.jpg?crop=true&width=1366&height=768&xhint=5883&yhint=2426); */
    color: #49422E;
    background-color: #070c16;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: #49422E;
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
    color: #3e497a;
  }
  .prompt i {
    font-size: 50px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    /* font-size: 35px; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #070c16;
  }
  
  .cardholder {
    width: 100%;
    height: 100%;
    display: flex;
    transition: ease 0.9s;
  }

  .cardholder:hover {
    background-color: white;
  }

  .cardholder2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: center;  */
    /* background-color: #070c16; */
    transition: ease .5s;
  }
  
  .cardholder2 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .5s;
  }
  /* .cardholder2:hover h1{
    background-color: white;
  }
  .cardholder2:hover {
    background-color: white;
  } */

  
  .list1 {
    list-style: none;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    transition: ease 0.5s;
  }

  .list2 {
    list-style: none;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
  

  .skills h2 {
    font-size: 20px;
  }
  
  .skills h3 {
    color: white;
    background-color: #070c16;
    font-size: 30px;
  }


  .bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .25s;
    pointer-events: none;
  }



  .skillbox {
    color: white;
    display: flex;
    background-color: #070c16;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(97, 219, 251), 2px 2px 10px rgb(97, 219, 251) inset;
    width: 25%;
    height: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }

  .skillbox:hover img {
    transform: rotate(-360deg);
    margin-bottom: 10px;
    transition-duration: .7s;
  }
  .skillbox:hover {
    transform: scale(1.4);
  }

  .cardholder2 .skillbox:hover {
    background-color: aliceblue;
    color: #3e497a;
  }

/* html */
  .list1 li:nth-child(2) {
    box-shadow: 2px 2px 10px rgb(255, 87, 34), 2px 2px 10px rgb(255, 87, 34) inset;
  }
  /* css */
  .list1 li:nth-child(3) {
    box-shadow: 2px 2px 10px rgb(33, 150, 243), 2px 2px 10px rgb(33, 150, 243) inset;
  }
  /* bootstrap */
  .list1 li:nth-child(4) {
    box-shadow: 2px 2px 10px rgb(120, 17, 247), 2px 2px 10px rgb(120, 17, 247) inset;
  }
  /* tailwind */
  .list1 li:nth-child(5) {
    box-shadow: 2px 2px 10px rgb(1, 183, 214), 2px 2px 10px rgb(1, 183, 214) inset;
  }
  /* redux */
  .list1 li:nth-child(6) {
    box-shadow: 2px 2px 10px rgb(119, 73, 189), 2px 2px 10px rgb(119, 73, 189) inset;
  }
  /* node */
  .list2 li:nth-child(1) {
    box-shadow: 2px 2px 10px rgb(104, 160, 99), 2px 2px 10px rgb(104, 160, 99) inset;
  }
  /* sql */
  .list2 li:nth-child(2) {
    box-shadow: 2px 2px 10px rgb(0, 117, 143), 2px 2px 10px rgb(0, 117, 143) inset;
  }
  /* mongo */
  .list2 li:nth-child(3) {
    box-shadow: 2px 2px 10px rgb(96, 178, 79), 2px 2px 10px rgb(96, 178, 79) inset;
  }
  /* apollo */
  .list2 li:nth-child(4) {
    box-shadow: 2px 2px 10px rgb(41, 11, 160), 2px 2px 10px rgb(41, 11, 160) inset;
  }
  /* graphql */
  .list2 li:nth-child(5) {
    box-shadow: 2px 2px 10px rgb(230, 50, 173), 2px 2px 10px rgb(230, 50, 173) inset;
  }

  /* .list1 .reactbox:hover ~ .bg {
    background: rgb(97, 219, 251);
  } */

  .skills img {
    width: 50%;
    height: 50%;
    transition: ease-in 0.5s;
  }
  .aboutme { 
        font-size: 35px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .cover{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .cover img {
    width: 100%;
    height: 100%;
  }
  .aboutdesc {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .aboutdesc h1,span {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 40px;
  }

  .aboutdesc h1 {
    color: #3e497a;
    font-size: 50px;
  }

  .aboutdesc span {
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    line-height: 25px;
  }

  .aboutdesc button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px, 2px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: transparent;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 10 0 transparent; 
    color: aliceblue;
  }
  .aboutdesc button:hover {
    box-shadow: inset 130px 0 0 0 #49422E;
    cursor: pointer;
    color: white;
  }

  /* CONTACTSECTION */

/* * {
    font-size: 40px;
    background-color: rgb(76, 44, 44);
} */

.contact {
    width: 100%;
    height: 100vh;
    font-family: "Arial", sans-serif;
    color: rgb(176, 176, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #070c16;
  }
  
  /* maincard */
  .mainCard {
      display: flex;
      width: 80%;
      height: 700px;
      background-color: antiquewhite;
      border-radius: 30px;
  }
  
  /* iphoneSection */
  .iphoneSection {
      flex-basis: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* phone */
  .phone {
      margin-top: 30px;
      display: flex;
      width: 500px;
      height: 600px;
      /* background-color: darkgray; */
      align-items: center;
      justify-content: center;
      border-radius: 70px;   
      flex-direction: column;
  }
  
  .sub-title {
      font-size: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
   
  .iscreen {
      /* margin-top: 30px;
      margin-left: 30px; */
    width: 270px;
    height: 460px;
    position: relative;
    transition: .9s;
  }
  
  .iscreen:hover {
      transform: scale(1.4);
      margin-bottom: 150px;
  }
  
  .iscreen .blackscreen {
      background-color: black;
      width: 234px;
      height: 413px;
      position: absolute;
      top: 10px;
      left: 18px;
      border-radius: 30px;
      opacity: 60%;
  }
  .blackscreen:hover {
      background-color: transparent;
      opacity: 80%;
  }
  
  .iscreen span {
      position: absolute;
      top: -7px;
      left: 25px;
      color: white;
      z-index: 1000;
      float: left;
      font-size: 11px;
      opacity: 30%;
  } 
  
  .iscreen:hover span {
    opacity: 100%;
  }
  .iscreen .git {
      width: 39px;
      height: 31px;
      margin: 0px;
      padding: 0px;
      position: absolute;
      float: left;
      top: 42px;
      left: 21px;
      z-index: 1000;
      background-color: transparent;
      border-radius: 10px;
  }
  
  .iscreen img {
    width: 270px;
    height: 438px;
  }
  /* phone */
  
  /* contactform */
  .contactForm {
      /* flex-basis: 60%; */
      display: flex;
      width: 100%;
      background-color: rgb(176, 176, 176);
      align-items: center;
      justify-content: center;
      border-radius: 30px;
  }
  
   form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 456px;
      justify-content: center;
      align-items: center;
      /* height: 600px; */
  }
   .form {
      display: flex;
      width: 100%;
      height: 600px;
      color: rgb(8, 8, 33);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      margin-top: 0px; 
      /* margin-left: 180px;  */
      flex-direction: column;    
   }
   
   /* .form form {
      display: flex;
      flex-direction: column;
      font-size: 30px;
   } */
   
   .form input, form textarea {
      width: 70%;
      border: 0;
      outline: none;
      background-color: #262626;
      padding: 15px;
      margin: 15px 0;
      color: #fff;
      font-size: 18px;
      border-radius: 6px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
  
   .btn {
    width: 100px;
    height: 30px;
    border-radius: 20px;
      background-color: #f9f8f8;
      background: rgb(253, 253, 253);
      color: #49422E;
      cursor: pointer;
  }

  /* CONTACTSECTION */
  
  @media only screen and (max-width: 1200px) {
    .about h2 {
        font-size: 50px;
    }
    .about .prompt {
        margin-top: 10px;
        font-size: 30px;
        width: 80%;
    }
}

  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    /* .skills {
      text-align: center;
    } */
    /* .list {
      padding: 0;
    } */
  
    .skills h2 {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 385px) {
    .about h2 {
        font-size: 33px;
    }
    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }
    .button {
        font-size: 18px;
    }
}

@media only screen and (max-width: 325px) {
    .about h2 {
        font-size: 30px;
    }
    .about .prompt {
        width: 90%;
    }   
}